
<div class="container mt-5">
  <h1>Edit List</h1>

  <%= render "form", list: @list %>

  <hr>
  <%= link_to lists_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
