<div class="container mt-5">
  <h1>My Lists</h1>

  <ul id="lists">
    <% @lists.each do |list| %>
      <li>
        <% if list.completed? %>
          <i class="fa-regular fa-square-check"></i>
        <% else %>
          <i class="fa-regular fa-square"></i>
        <% end %>
        <%= link_to list.title, list_path(list.id) %>
        <%= link_to list_path(list.id), data: {turbo_method: :delete, turbo_confirm: "Delete #{list.title}?"} do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <hr>

  <%= link_to new_list_path do %>
    <i class="fa-solid fa-plus"></i> Add a new list
  <% end %>
</div>
