<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= @bookmark.title %></h1>
    <%= link_to edit_bookmark_path(@bookmark.id), class: 'btn btn-light btn-sm border' do %>
      <i class="fa fa-pencil"></i> Edit this bookmark
    <% end %>
  </div>


  <p class="well"><%= @bookmark.details %></p>

  <% if @bookmark.completed %>
    <i class="fa fa-check-square-o"></i> This bookmark is completed
  <% else %>
    <i class="fa fa-square-o"></i> This bookmark is not completed yet
  <% end %>

  <hr>
  <%= link_to bookmarks_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to bookmark list
  <% end %>
</div>
